/* Import Leaflet CSS */
@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
}

.caller-map-marker-pin {
  border-radius: 50%;
  border: 2px solid white;
}

.caller-map-popup .leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.caller-map-popup .leaflet-popup-content {
  margin: 0.5rem;
}

.caller-map-popup .leaflet-popup-tip-container {
  margin-top: -1px;
}
